/* Form */
.html-auditor-reports-filter-form .form-type-select {
  display: inline-block;
  margin: .1em .9em .1em .1em;
}

/* Table */
.table-reports tr > td {
  position: relative;
}

.table-reports .error {
  background: #ffaeae;
}

.table-reports .message-expand {
  padding: 10px;
  margin: 10px 0;
  cursor: auto;
}

.table-reports .message-expand.show {
  display: block;
}

.table-reports .message-expand.hide {
  display: none;
}

.table-reports tr.is-expandable {
  cursor: pointer;
}
