{% for report in reports %}
    <div class="{{ report.name }}">
        <h1>{{ report.name }}</h1>
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
{% endfor %}
